<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Detector de matrícules</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>

<body>
	<h1>Matricules detectades</h1>
  <table style="width:100%">
  {% for item in tasks %}
  <tr>
	<th> {{ item.id }} </th> 
  	<th> {{ item.title }} </th>
	<th> {{ item.description }} </th>
	<th> {{ item.date }} </th>
  </tr>
  {% endfor %}
  </table>
</body>

</html>
